* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.centered {
  position: fixed;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  min-width: 80%;
  height: 100vh;
  display: flex;
  flex-wrap: nowrap;
  top: 50%;
}

#user-interface {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
.scrollable {
  height: auto;
  max-height: 80vh;
  overflow: auto;
}
body {
  background-color: #041c32;
  color: #aedbce;
  font-size: 16px;
  font-family: 'Chakra Petch', sans-serif;
}
.progress-time-item{
  font-size: 35px;
  text-align: left;
  align-items: flex-start ;
  width: 70%;
  margin-left: 20px;
}
.welcome-page h1 {
  font-size: 50px;
  margin: 1, 3rem auto;
  -webkit-animation: glow 1s ease-in-out infinite alternate;
  -moz-animation: glow 1s ease-in-out infinite alternate;
  animation: glow 1s ease-in-out infinite alternate;
}
@-webkit-keyframes glow {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #d3ebcd,
      0 0 30px #e60073, 0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073;
  }
  to {
    text-shadow: 0 0 20px #fff, 0 0 30px #aedbce, 0 0 40px #ff4dd3ed,
      0 0 50px #ff4da6, 0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6;
  }
}

.alert-div {
  background-color: #fce0e3;
  padding: 7px;
  width: 30%;
  border-radius: 10px;
  visibility: hidden;
  box-shadow: 0 0 3px #fff, 0 0 8px #fff, 0 0 15px #fff, 0 0 20px red,
    0 0 30px red, 0 0 50px red;
}
.alert-div i {
  margin-right: 27px;
  font-size: 1.8rem;
  color: red;
}
#alert-didnt-answer {
  color: red;
  font-size: 1.2rem;
  font-weight: bold;
  letter-spacing: 2px;
}

.about-quiz {
  display: flex;
  flex-direction: column;
  align-items: center;
  list-style-type: none;
  font-size: 24px;
  color: #aedbce;
  font-weight: bold;
  width: 80%;
  height: auto;
  margin: 5px auto;
  padding: 10px 5px;
}
.about-quiz li {
  margin: 5px 0;
}
.about-quiz li a {
  color: #d3ebcd;
}
#start-quiz-button {
  border-radius: 10px;
  background-color: #635666;
  border: none;
  color: #aedbce;
  text-align: center;
  font-size: 16px;
  padding: 12px;
  width: max-content;
  height: auto;
}
#start-quiz-button:hover {
  color: #635666;
  background-color: #aedbce;
  border: 2px solid #635666;
  transition: all 0.5s;
}

#answers-list {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  overflow: hidden;
  align-items: center;
  justify-content: space-between;
  margin: 10px 15px;
}
#answers-list li.selected {
  background: #d3ebcd;
  color: #635666;
  border: solid #635666;
  transition: all 0.3s;
}

#answers-list li {
  width: 70%;
  min-height: 50px;
  margin-top: 10px;
  text-align: left;
  padding: 10px;
  background-color: #aedbce;
  color: #635666;
  border-radius: 10px;
  font-size: 16px;
  cursor: pointer;
}

#answers-list li.selected {
  border-style: solid;
}
#answers-list li.correct {
  background-color: rgb(11, 223, 36);
}
#answers-list li.wrong {
  background-color: red;
}

.question {
  width: 60%;
  margin: 0 auto;
  height: 500px;
  background-color: #d3ebcd;
  border-radius: 10px;
  padding: 35px;
  top: 25%;
}

.question h1 {
  margin-top: 10px;
  color: #635666;
  padding: 5px 0;
}

#next-question-button {
  border-radius: 10px;
  background-color: #635666;
  border: none;
  color: #aedbce;
  text-align: center;
  font-size: 16px;
  padding: 12px;
  width: 120px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 0.8rem;
}

#next-question-button:hover {
  color: #635666;
  background-color: #aedbce;
  border: 2px solid #635666;
  transition: all 0.3s;
}

#user-progress {
  position: relative;
  width: 70%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-align: center;
}
#progress-bar {
  width: 200px;
  height: 20px;
  border: 3px solid rgb(11, 223, 36);
  margin-top: 2px;
  border-radius: 50px;
  overflow: hidden;
}
#progress-bar-inside {
  height: 100%;
  background-color: rgb(11, 223, 36);
  width: 0%;
}

.fa-ul {
  font-size: 25px;
}

.container {
  position: relative;
  margin: auto;
  background-color: #d3ebcd;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: 45rem;
  padding: 1rem;
  border-radius: 10px;
  overflow: auto;
  scrollbar-width: none;
  -ms-overflow-style: none; /* Internet Explorer 10+ */
  scrollbar-width: none; /* Firefox */
}

.container::-webkit-scrollbar {
  display: none; /* Safari and Chrome */
}
.container h1 {
  width: 100%;
  color: #635666;
  margin-bottom: 25px;
}

.question-result-card {
  display: flex;
  flex-wrap: wrap;
  margin: auto;
  margin-bottom: 35px;
  padding: 10px;
  color: black;
  width: 35%;
  height: 14rem;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  text-align: center;
}

.question-result-card::after {
  content: '';
  border-radius: 5px;
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  opacity: 0;
  -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.question-result-card:hover {
  -webkit-transform: scale(1.25, 1.25);
  transform: scale(1.25, 1.25);
}
.question-result-card:hover::after {
  opacity: 1;
}
.question-result-card p {
  width: 100%;
  padding: 0.3rem;
}

.question-result-card h2 {
  padding: 0.5rem;
  font-size: 1.3rem;
  color: #635666;
  text-align: center;
  margin: auto;
}

.question-result-card h3 {
  font-size: 1.1rem;
  color: #635666;
  width: 100%;
}
.question-result-card a {
  width: 50%;
  display: inline-block;
  list-style: none;
  margin-right: 0.5rem;
  padding: 0.3rem;
  color: #379bf0;
  margin: auto;
}
#canvas{
  max-height: 100%;
  max-width: 100%;
  display: block;
}
