.centered {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.scrollable {
  height: auto;
  max-height: 80vh;
  overflow: auto;
}

ul {
  list-style: none;
}
#full-time{
  font-size: 3em;
  text-align: center;
  font-family: Georgia, 'Times New Roman', Times, serif;
  margin-top: 100px;
}
